.adminNav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    background-color: black;
    padding: 15px;
}

.adminNav button {
    border: 2px;
    margin-bottom: 0;
    padding: 5px 10px;
    white-space: nowrap; 
    border-radius: 18px;
    margin: 5px;
    width: 170px;
    font-size: 15px;
    
}

.setting-article {
    margin-left: 40px;
    margin-right: 40px;
}

.admin-nav {
    display: flex;  
    margin-left: 172px; 
}

.admin-nav h4 {
    margin: 0;
    font-family: 'Atomy-Bold';
}

.admin-nav svg {
    align-self: center;
    font-size: 25px;
    margin-right: 3px;
    
}

.nav-main {
    padding: 10px;
    margin: 0px 10px;
    margin-bottom: 20px;
    background-color: #ebeff1;
    box-shadow: 2px 2px 12px rgb(184, 184, 184, 0.8);
}

.setting-main {
    margin-left: 192px;
    margin-right: 192px;

}


.bt-div {
    display: flex;
    justify-content: flex-end;
    width: 150px;
}



.login-article {
    margin-left: 200px;
    margin-right: 200px;
}

.admin-comment {
    padding-bottom: 30px;
    font-weight: 700;
}

.listLink {
    font-weight: 600;
}

.shleterList-footer {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1280px) {
    .admin-nav {
        display: flex;  
        margin-left: 20px; 
    }
    .setting-main {
        margin-left: 42px;
        margin-right: 42px;
    }
    .login-article {
        margin-left: 120px;
        margin-right: 120px;
    }
}


@media (max-width: 768px) {

    .login-article {
        margin-left: 12px;
        margin-right: 12px;
    }
}