.componentContainer {
    position: relative;
    background-image: linear-gradient(rgba(33, 38, 39, 0.7), rgba(0, 0, 0, 0.7)), url('../../Assets/fog-2947202_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;
}

.inputBox {

    display: grid;
    grid-template-columns: 5fr 3fr;
}

.inputDiv {
    background-color: rgba(255, 255, 255, 0.45);

}

.inputDiv::placeholder {
    color: #ffffff;
}

#h2title {
    color: rgb(255, 255, 255, 0.9);
}

#h3title {
    color: rgb(255, 255, 255, 0.9);
}

#katalk {
    color: rgb(255, 255, 255, 0.9);
}

@media (max-width: 768px) { /* Adjust 768px as needed */
    .inputBox {
        grid-template-columns: 1fr; /* Only one column, so children will stack */
    }
}

.div1, .div2 {
    margin: 20px;
}


#txt {
    color: rgb(255, 255, 255, 0.7);
}

.selected-shelter {
    color: black;
    font-weight: bolder;
}

#map {
    margin-bottom: 20px;
}