nav {
    font-family: 'Atomy-Bold';
}

.navContainer {
    display: flex;
    padding: 20px;
    padding-left: 192px;
    padding-right: 192px;
}

.navDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
}


.navName {
    font-size: 18px;
}

.title {
    font-size: 30px;
}



.linkDiv:not(:last-child) {
    border-bottom: 1px solid #ccc;

}


.modalContainer {
    width: 350px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

.linkDiv,
.modalContainer a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

#closeIcon {
    margin-top: 15px;
    font-size: 30px;
}

.category .c li a {
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #18272F;
    font-weight: 700;
    vertical-align: top;
  }
  
  .category .c li a::before,
  .category .c li a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  
  /* .category .c li a::before {
    background-color: #54b3d6;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  } */
  
  .category .c li a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #54b3d6;
  }
  
  .category .c li a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  
  .category .c li a:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
  .category .c li a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .category .c li a:hover span {
    transform: translate3d(-200%, 0, 0);
  }
.category .c li a:hover {
    text-decoration: none;
}


/* .c li {
    animation-name: none !important;
}


.c li:hover {
    animation-name: pulse !important;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}


@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  } */

/* nav, 
nav a, 
nav li, 
.dialog, 
.dialog a, 
.dialog div {
    color: black;
} */

.linkDiv1 {
    background-color: rgba(238, 241, 245, 0.5);
    font-size: 22px;
}

@media (max-width: 768px) {
    .navDiv {
        width: 150px;
    }

    .category:not(.showCategory) li:not(#more-icon) {
        display: none;
    }

    #more-icon {
        display: inline-block;
        cursor: pointer;
    }

    .blurred {
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .navContainer {
        display: flex;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 1280px) {
    .navContainer {
        display: flex;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

}

@media (min-width: 769px) {
    #more-icon {
        display: none;
    }

    .category li {
        display: inline-block;
    }
}